name: renovate
run-name: ${{ github.ref_name }} by @${{ github.actor }} ${{ github.workflow }}
on:
  pull_request:
    types:
      - opened
defaults:
  run:
    shell: bash
jobs:
  auto-merge:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    if: ${{ startsWith( github.head_ref , 'renovate') }}
    steps:
      - name: Check branch
        run: echo "${{ github.head_ref }}"
      - name: Generate token
        id: generate-token
        uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
        with:
          app-id: ${{ vars.BOT_GITHUB_APP_ID }}
          private-key: ${{ secrets.BOT_GITHUB_APP_PRIVATE_KEY }}
      - name: Auto merge
        uses: otakakot/github-actions/composite/auto-merge@main
        with:
          github-token: ${{ steps.generate-token.outputs.token }}
